<h1><%= @triangle_type %></h1>
<div class="triangle" style="border-width: 0 <%= @width_1 %>px <%= @height %>px <%= @width_2 %>px">
</div>
<h2>Side A: <%= @side_a %></h2>
<h2>Side B: <%= @side_b %></h2>
<h2>Side C: <%= @side_c %></h2>
<a href="/">Back</a>
